@model FastService.Models.NovedadModel

<div class="modal-header">
    <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
    <h4 id="modalNuevaNovedadHeader" class="modal-title">Nueva Novedad</h4>
</div>

@using (Ajax.BeginForm("Create", "Novedad", new AjaxOptions { HttpMethod = "Post", OnBegin = "OnBeginNovedad", OnSuccess = "DoneNovedad(data)", OnFailure = "OnErrorNovedad", LoadingElementId = "spinner" }, new { @id = "novedadForm" }))
{
    <div id="modalNuevaNovedadBody" class="modal-body">

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.NroOrden)
        @Html.HiddenFor(model => model.TipoNovedadId)
        @Html.LabelFor(model => model.TecnicoNombre)
        @Html.DropDownListFor(model => model.TecnicoId, (List<SelectListItem>)ViewBag.ListaTecnicos, new { @class = "form-control" })

        @Html.LabelFor(model => model.ResponsableNombre)
        @Html.TextBoxFor(model => model.ResponsableNombre, new { @class = "form-control", disabled = "disabled" })

        @Html.LabelFor(model => model.Monto)
        @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })

        @Html.LabelFor(model => model.FechaEntrega)
        @Html.TextBoxFor(model => model.FechaEntrega, new { @class = "form-control form-control-inline input-large date-picker" })

        @Html.LabelFor(model => model.Observacion)
        @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })

        @Html.HiddenFor(model => model.Accion, new { @class = "form-control", @id = "accion" })
    </div>

    <div class="modal-footer">
        <button id="btnSubmitNovedad" class="btn green" type="submit">Aceptar</button>
    </div>
}

<script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
