@model FastService.Models.DomicilioViewModel

<th>
    <h3>Agenda</h3>
    @* <input id="inputSearchCriteria" class="form-control" type="text" placeholder="Buscar" />*@
</th>

<hr>

<ul class="list-group ListaOrdenes">
    @foreach (var r in Model.OrdenesPendientes.OrderByDescending(x=>x.EstadoDesc))
    {
        <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item li-add-orden">
            <div class="OrdenListNro">
                <b> @Html.DisplayFor(x => r.NroOrden)</b>

                @if (!r.Garantia)
                {
                    <span class="badge badge-info">C</span>
                }
                else
                {
                    <span class="badge badge-info">E</span>
                }

            </div>
            <div class="OrdenListSummary">
                @Html.DisplayFor(x => r.Cliente.PrettyName)

                @if (r.EstadoDesc == "INGRESADO" || r.EstadoDesc == "REINGRESADO")
                {
                    <span class="badge badge-info">@r.EstadoDesc</span>
                }
                else
                {
                    <span class="badge badge-success">ENTREGA</span>
                }
            </div>

            @Html.DisplayFor(x=>r.Cliente.PrettyAddress)

        </li>
    }
</ul>


<script>
    $(".li-add-orden").click(function (e) {

        $.ajax({
            url: "@Url.Action("Add")?id=" + $(this).data("id"),
            cache: false,
            success: function (data) {
                $("#domicilioIndex").replaceWith(data);
            }
        })
    });
</script>