@model FastService.Models.DomicilioViewModel

<th>
    <h3>Ordenes pendientes</h3>
    @* <input id="inputSearchCriteria" class="form-control" type="text" placeholder="Buscar" />*@
</th>

<hr>

<ul class="list-group ListaOrdenes">
    @foreach (var r in Model.OrdenesPendientes)
    {
        <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item li-add-orden">
            <div class="OrdenListNro">
                <b> @Html.DisplayFor(x => r.NroOrden)</b>
            </div>
            <div class="OrdenListSummary">
                @Html.DisplayFor(x => r.Cliente.PrettyName)
            </div>
            <div class="OrdenListHints">
                <span class="badge badge-info">@Html.DisplayFor(x => r.Cliente.Dir.Ciudad)</span>
            </div>
            <div class="OrdenListHints">
                @if (r.EstadoDesc == "RECHAZADO")
                {
                    <span class="badge badge-danger">@Html.DisplayFor(x => r.EstadoDesc)</span>
                }
                else if (r.EstadoDesc == "CONTROLAR")
                {
                    <span class="badge badge-warning">@Html.DisplayFor(x => r.EstadoDesc)</span>
                }
                else if (r.EstadoDesc == "RETIRADO")
                {
                    <span class="badge badge-success">@Html.DisplayFor(x => r.EstadoDesc)</span>
                }
                else
                {
                    <span class="badge badge-info">@Html.DisplayFor(x => r.EstadoDesc)</span>
                }
            </div>

            @if (r.Garantia)
            {
                <i class="glyphicon glyphicon-bookmark"></i>
            }
        </li>
    }
</ul>


<script>
    $(".li-add-orden").click(function (e) {

        $.ajax({
            url: "@Url.Action("Add")?id=" + $(this).data("id"),
            cache: false,
            success: function (data) {
                $("#domicilioIndex").replaceWith(data);
            }
        })
    });
</script>