@model FastService.Models.PagoWizardModel
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered" id="form_wizard_1">
            <div class="portlet-body form">
                <form class="form-horizontal" id="submit_form" method="POST" novalidate="novalidate">
                    <div class="form-wizard">
                        <div class="form-body">
                            <ul class="nav nav-pills nav-justified steps">
                                <li class="active">
                                    <a href="#tab1" data-toggle="tab" class="step" aria-expanded="false">
                                        <span class="number"> 1 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Proveedor
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab" class="step" aria-expanded="true">
                                        <span class="number"> 2 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Compra
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#tab3" data-toggle="tab" class="step active">
                                        <span class="number"> 3 </span>
                                        <span class="desc">
                                            <i class="fa fa-check"></i> Pago
                                        </span>
                                    </a>
                                </li>
                            </ul>
                            <div id="bar" class="progress progress-striped" role="progressbar">
                                <div class="progress-bar progress-bar-success" style="width: 33.3333%;"> </div>
                            </div>
                            <div class="tab-content">
                                <!--
                                <div class="alert alert-danger display-none" style="display: block;">
                                    <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                </div>
                                <div class="alert alert-success display-none" style="display: none;">
                                    <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                </div>
                                -->
                                <div class="tab-pane active" id="tab1">
                                    <h3 class="block">Seleccione proveedor</h3>
                                    <div class="form-group">
                                        <div class="col-md-8 col-lg-offset-2">
                                            <div class="btn-group bootstrap-select bs-select form-control dropup">
                                                <button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" title="Relish" aria-expanded="false">
                                                    @if (@Model.Proveedores.Any())
                                                    {
                                                        <span class="filter-option pull-left" id="txtProveedor">@Model.Proveedores[0].RazonSocial</span><span class="bs-caret"><span class="caret"></span></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="filter-option pull-left" id="txtProveedor">No hay compras a pagar!</span><span class="bs-caret"><span class="caret"></span></span>
                                                    }
                                                </button>
                                                <div class="dropdown-menu open" style="max-height: 339.41px; overflow: hidden; min-height: 0px;">
                                                    <ul class="dropdown-menu inner" role="menu" style="max-height: 337.41px; overflow-y: auto; min-height: 0px;">
                                                        @foreach (var proveedor in Model.Proveedores)
                                                        {
                                                            <li class="liProveedor" id="@proveedor.CUIT" data-nombre="@proveedor.RazonSocial" data-cantCompras="@proveedor.ComprasAPagar.Count">
                                                                <a tabindex="0" class="" style="" data-tokens="null">
                                                                    <span class="text">@proveedor.RazonSocial</span><span class="fa fa-check check-mark"></span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h3 class="block" id="titleCompra">Compra</h3>
                                    <div class="portlet-body">
                                        <div class="mt-element-list">

                                            <div class="mt-list-container list-simple ext-1">
                                                @foreach (var proveedor in Model.Proveedores)
                                                {
                                                    <ul id="ulFacturas_@proveedor.CUIT" class="ulFacturas" hidden>
                                                        @foreach (var compra in proveedor.ComprasAPagar)
                                                        {
                                                            <li class="mt-list-item done liCompra" value="@compra.CompraId" data-compraid="@compra.CompraId" data-monto="@compra.Saldo">
                                                                <div class="list-icon-container">
                                                                    <i class="icon-check"></i>
                                                                </div>
                                                                <div class="list-item-content">
                                                                    <h3>
                                                                        Compra fecha: @compra.FechaCreacion.Date Total: $@compra.Monto Saldo: $@compra.Saldo
                                                                    </h3>
                                                                </div>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="tab3">

                                    <h3 id="titlePago" class="block">Pago</h3>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-5 control-label">Metodo de Pago</label>
                                                <div class="col-md-7">
                                                    <select class="form-control" id="MetodoPago">
                                                        <option value="1" selected>Cheque</option>
                                                        <option value="3">Efectivo</option>
                                                        <option value="4">Transferencia Bancaria</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div id ="divNroCuotas" class="form-group">
                                                <label class="col-md-5 control-label">Nro. de Cuotas</label>
                                                <div class="col-md-7">
                                                    <select class="form-control" id="NroCuotas" hidden>
                                                        <option value="0" selected>Seleccione cant. de cuotas</option>
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                        <option value="6">6</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                        </div>
                                    </div>
                                    <div id="divFormaDePago">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <a href="javascript:;" class="btn default button-previous" style="display: inline-block;">
                                        <i class="fa fa-angle-left"></i> Atras
                                    </a>
                                    <a href="javascript:;" class="btn btn-outline green button-next">
                                        Continuar
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                    <a id="btnAceptar" href="javascript:;" class="btn green button-submit" style="display: none;">
                                        Aceptar
                                        <i class="fa fa-check"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-wizard/form-wizard.min.js" type="text/javascript"></script>

<script>
    var PagoModel = new Object();
    //PagoModel.Proveedor = new Object();
    //PagoModel.Compra = new Object();
    PagoModel.MetodoPago = new Object();

    function loadMetodoPago() {
        PagoModel.MetodoPago.Id = $("#MetodoPago").val();

        switch (PagoModel.MetodoPago.Id) {
            case '1':
                PagoModel.MetodoPago.NroCuotas = $("#NroCuotas").val();
                break;
            default:
                break;
        }

        $.ajax({
            url: "/Venta/GetMetodoDePago/" + $("#MetodoPago").val() + "/" + $("#NroCuotas").val(),
            success: function (data) {
                $("#divFormaDePago").html("")
                $("#divFormaDePago").append(data)

                switch (PagoModel.MetodoPago.Id) {
                    case '1':
                        $(".chequeMonto").val((parseInt(PagoModel.Monto) / parseInt(PagoModel.MetodoPago.NroCuotas).toFixed(2)));
                        break;
                    case '3':
                        $("#monto").val(parseInt(PagoModel.Monto));
                        break;
                    case '4':
                        $("#monto").val(parseInt(PagoModel.Monto));
                        break;
                    default:
                        $("#monto").val(parseInt(PagoModel.Monto));
                }
            }
        });
    }

    $(".liProveedor").click(function () {
        $(".ulFacturas").hide();
        $("#ulFacturas_" + $(this).attr("id")).show();
        PagoModel.Proveedor = $(this).attr("id");
        PagoModel.ProveedorNombre = $(this).data("nombre");
        PagoModel.HasCompras = $(this).data("cantcompras") != "0" ? true : false;
        $("#txtProveedor").html("");
        $("#txtProveedor").html(PagoModel.ProveedorNombre);

        if (PagoModel.HasCompras) {
            $("#titleCompra").html("Seleccione compras a " + PagoModel.ProveedorNombre + " que desea pagar:");
        } else {
            $("#titleCompra").html("El Proveedor " + PagoModel.ProveedorNombre + " no tiene compras pendientes de pago.");
        }

    });

    $(".liCompra").click(function () {
        PagoModel.Compra = $(this).val();
        PagoModel.Monto = $(this).data("monto");
        $(".liCompra").css("background-color", "#FFF");
        $(this).css("background-color", "#32c5d2");
        $("#titlePago").html("Seleccione metodo de pago para abonar $" + PagoModel.Monto + " a " + PagoModel.ProveedorNombre);

    });

    $("#MetodoPago").change(function () {
        $("#divNroCuotas").hide();
        if ($("#MetodoPago").val() == '1')
            $("#divNroCuotas").show();
        else {
            loadMetodoPago();
        }
    });

    $("#NroCuotas").change(function () {
        loadMetodoPago();
    });

    $("#btnAceptar").click(function () {
        PagoModel.MetodoPago.Cuotas = new Array();
        switch (PagoModel.MetodoPago.Id) {
            case '1':
                for (var i = 0; i < PagoModel.MetodoPago.NroCuotas; i++) {
                    PagoModel.MetodoPago.Cuotas[i] = new Object();
                    PagoModel.MetodoPago.Cuotas[i].RefNumber = $("#NroCheque_" + i).val();
                    PagoModel.MetodoPago.Cuotas[i].FechaDebito = $("#FechaDebito_" + i).val();
                    PagoModel.MetodoPago.Cuotas[i].Monto = $("#Monto_" + i).val();
                };
                break;
            case '3':
                PagoModel.MetodoPago.Cuotas[0] = new Object();
                PagoModel.MetodoPago.Cuotas[0].FechaDebito = $("#Fecha").val();
                PagoModel.MetodoPago.Cuotas[0].Monto = $("#monto").val();
                break;
            case '4':
                PagoModel.MetodoPago.Cuotas[0] = new Object();
                PagoModel.MetodoPago.Cuotas[0].FechaDebito = $("#Fecha").val();
                PagoModel.MetodoPago.Cuotas[0].Monto = $("#monto").val();
                PagoModel.Facturado = $("#Facturado").is(':checked') == true ? "1" : "2";
            default:
        }

        $.ajax({
            url: "/PagoProveedores/Post",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(PagoModel),
            success: function (data) {
                OnSuccess(data);
            },
            error: function (data) {
                alert("Oops hubo un error!")
            }
        });
    });

</script>
