@model FastService.Models.Orden.IIndexModel
<th>
    <h4>Trabajos en Progreso</h4>
</th>
<ul class="list-group ListaMisOrdenes">
    @foreach (var r in Model.OrdenesAReparar.OrderByDescending(x => x.FechaUltimaNovedad))
    {
        if (Model.OrdenActiva == r)
        {
            <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item active li-ver-orden" data-url='@Url.Action("Details","Ticket")/@r.NroOrden'>

                <div class="OrdenListNro">
                    <b> @Html.DisplayFor(x => r.NroOrden)</b>
                    
                    @if (r.Domicilio)
                    {
                        <i class="glyphicon glyphicon-home"></i>
                    }

                    @if (!r.Garantia)
                    {
                        <span class="badge badge-info">C</span>
                    }
                    else
                    {
                        <span class="badge badge-info">E</span>
                    }
                </div>
                <div class="OrdenListSummary">
                    @Html.DisplayFor(x => r.ResumenAparato)
                </div>
                <div class="OrdenListHints">
                    @if (r.EstadoDesc == "RECHAZADO")
                    {
                        <span class="badge badge-danger">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "CONTROLAR")
                    {
                        <span class="badge badge-warning">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "RETIRADO")
                    {
                        <span class="badge badge-success">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else
                    {
                        <span class="badge badge-info">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }

                    <span class="badge badge-info">@Html.DisplayFor(x => r.TecnicoNombre)</span>


                </div>
            </li>
        }
        else
        {
            <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item li-ver-orden" data-url='@Url.Action("Details","Ticket")/@r.NroOrden'>
                <div class="OrdenListNro">
                    <b> @Html.DisplayFor(x => r.NroOrden)</b>

                    @if (r.Domicilio)
                    {
                        <i class="glyphicon glyphicon-home"></i>
                    }


                    @if (!r.Garantia)
                    {
                        <span class="badge badge-info">C</span>
                    }
                    else
                    {
                        <span class="badge badge-info">E</span>
                    }

                </div>
                <div class="OrdenListSummary">
                    @Html.DisplayFor(x => r.ResumenAparato)
                </div>
                <div class="OrdenListHints">
                    @if (r.EstadoDesc == "RECHAZADO")
                    {
                        <span class="badge badge-danger">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "CONTROLAR")
                    {
                        <span class="badge badge-warning">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "RETIRADO")
                    {
                        <span class="badge badge-success">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else
                    {
                        <span class="badge badge-info">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }

                    <span class="badge badge-info">@Html.DisplayFor(x => r.TecnicoNombre)</span>

                </div>
            </li>
        }

    }
</ul>

<th>
    <h4>Trabajos en Espera</h4>
</th>

<ul class="list-group ListaMisOrdenes">
    @foreach (var r in Model.OrdenesEnEspera.OrderByDescending(x => x.FechaUltimaNovedad))
    {
        if (Model.OrdenActiva == r)
        {
            <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item active li-ver-orden" data-url='@Url.Action("Details","Ticket")/@r.NroOrden'>

                <div class="OrdenListNro">
                    <b> @Html.DisplayFor(x => r.NroOrden)</b>

                    @if (r.Domicilio)
                    {
                        <i class="glyphicon glyphicon-home"></i>
                    }

                    @if (!r.Garantia)
                    {
                        <span class="badge badge-info">C</span>
                    }
                    else
                    {
                        <span class="badge badge-info">E</span>
                    }
                </div>
                <div class="OrdenListSummary">
                    @Html.DisplayFor(x => r.ResumenAparato)
                </div>
                <div class="OrdenListHints">
                    @if (r.EstadoDesc == "RECHAZADO")
                    {
                        <span class="badge badge-danger">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "CONTROLAR")
                    {
                        <span class="badge badge-warning">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "RETIRADO")
                    {
                        <span class="badge badge-success">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else
                    {
                        <span class="badge badge-info">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }

                    <span class="badge badge-info">@Html.DisplayFor(x => r.TecnicoNombre)</span>


                </div>
            </li>
        }
        else
        {
            <li id="@r.NroOrden" data-id="@r.NroOrden" class="list-group-item li-ver-orden" data-url='@Url.Action("Details","Ticket")/@r.NroOrden'>
                <div class="OrdenListNro">
                    <b> @Html.DisplayFor(x => r.NroOrden)</b>
                    @if (r.Domicilio)
                    {
                        <i class="glyphicon glyphicon-home"></i>
                    }

                    @if (!r.Garantia)
                    {
                        <span class="badge badge-info">C</span>
                    }
                    else
                    {
                        <span class="badge badge-info">E</span>
                    }

                </div>
                <div class="OrdenListSummary">
                    @Html.DisplayFor(x => r.ResumenAparato)
                </div>
                <div class="OrdenListHints">
                    @if (r.EstadoDesc == "RECHAZADO")
                    {
                        <span class="badge badge-danger">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "CONTROLAR")
                    {
                        <span class="badge badge-warning">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else if (r.EstadoDesc == "RETIRADO")
                    {
                        <span class="badge badge-success">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }
                    else
                    {
                        <span class="badge badge-info">@Html.DisplayFor(x => r.EstadoDesc)</span>
                    }

                    <span class="badge badge-info">@Html.DisplayFor(x => r.TecnicoNombre)</span>

                </div>
            </li>
        }
    }
</ul>

<script>
    $(".li-ver-orden").click(function (e) {
        $("li").removeClass("active");
        $("#" + $(this).data("id")).addClass("active");

        ajaxGetNoCustomError(
            $(this).data("url"),
            function (data) {
                $(".page-content .OrdenDetailBody").html(data);
            }
        );
    });

    $(function () {
        $(".li-ver-orden:first").trigger("click");
    });

</script>
