@model FastService.Models.NovedadModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" aria-hidden="true" type="button" data-dismiss="modal"></button>
        <h4 id="modalNuevaNovedadHeader" class="modal-title">Nueva Novedad</h4>
    </div>

    @using (Ajax.BeginForm("Novedad", "Reparacion", new AjaxOptions { HttpMethod = "Post", OnBegin = "OnBeginNovedad", OnSuccess = "Done(data)", OnFailure = "OnError", LoadingElementId = "spinner" }))
    {
        <div id="modalNuevaNovedadBody" class="modal-body">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            @Html.HiddenFor(model => model.Id)
            @Html.LabelFor(model => model.TecnicoId)
            @Html.DropDownListFor(model => model.TecnicoId, (List<SelectListItem>)ViewBag.ListaTecnicos, new { @class = "form-control" })

            @Html.LabelFor(model => model.ResponsableNombre)
            @Html.TextBoxFor(model => model.ResponsableNombre, new { @class = "form-control", disabled = "disabled" })

            @Html.LabelFor(model => model.Monto)
            @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })

            @Html.LabelFor(model => model.NroReferencia)
            @Html.TextBoxFor(model => model.NroReferencia, new { @class = "form-control" })

            @Html.LabelFor(model => model.MetodoDePagoId)
            @Html.DropDownListFor(model => model.MetodoDePagoId, (List<SelectListItem>)ViewBag.ListaMetodoDePago, new { @class = "form-control" })

            @Html.LabelFor(model => model.Observacion)
            @Html.TextAreaFor(model => model.Observacion, new { @class = "form-control" })

            @Html.HiddenFor(model => model.TipoNovedadId)
        </div>

        <div class="modal-footer">
            <button class="btn dark btn-outline simplemodal-close" type="button" data-dismiss="modal">Close</button>
            <button id="btnSubmitNovedad" class="btn green" type="submit">Aceptar</button>
        </div>
    }

</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
