@model FastService.Models.Orden.IIndexModel

@using (Ajax.BeginForm("Save", "Reparacion", new AjaxOptions { HttpMethod = "Post", OnSuccess = "Done(data)", OnFailure = "OnError", LoadingElementId = "spinner" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.NroOrden)
                @Html.TextBoxFor(model => model.OrdenActiva.NroOrden, new { @class = "form-control", @id = "ticketid" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.NroOrden)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.EstadoDesc)
                @Html.TextBoxFor(model => model.OrdenActiva.EstadoDesc, new { @class = "form-control", @disabled = true })
                @Html.ValidationMessageFor(model => model.OrdenActiva.EstadoDesc)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.EstadoFecha)
                @Html.TextBoxFor(model => model.OrdenActiva.EstadoFecha, new { @class = "form-control", @disabled = true })
                @Html.ValidationMessageFor(model => model.OrdenActiva.EstadoFecha)
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.OrdenActiva.Domicilio)
                @Html.CheckBoxFor(model => model.OrdenActiva.Domicilio, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Domicilio)
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.OrdenActiva.Garantia)
                @Html.CheckBoxFor(model => model.OrdenActiva.Garantia, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Garantia)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Presupuesto)
                @Html.TextBoxFor(model => model.OrdenActiva.Presupuesto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Presupuesto)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Monto)
                @Html.TextBoxFor(model => model.OrdenActiva.Monto, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Monto)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.ResponsableNombre)
                @Html.DropDownListFor(model => model.OrdenActiva.ResponsableId, (List<SelectListItem>)ViewBag.ListaResponsables, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.ResponsableId)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.TecnicoNombre)
                @Html.DropDownListFor(model => model.OrdenActiva.TecnicoId, (List<SelectListItem>)ViewBag.ListaTecnicos, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.TecnicoId)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div class="ui-widget">
                    @Html.LabelFor(model => model.OrdenActiva.Cliente.Dni)
                    @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dni, new { @class = "form-control ac-cliente", @id = "Cliente_Dni" })
                </div>
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Dni)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Nombre)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Nombre, new { @class = "form-control ac-cliente", @id = "Cliente_Nombre" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Nombre)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Apellido)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Apellido, new { @class = "form-control ac-cliente", @id = "Cliente_Apellido" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Apellido)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Mail)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Mail, new { @class = "form-control ac-cliente", @id = "Cliente_Mail" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Mail)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Telefono)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Telefono, new { @class = "form-control", @id = "Cliente_Telefono" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Telefono)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Celular)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Celular, new { @class = "form-control", @id = "Cliente_Celular" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Celular)
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Direccion)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Direccion, new { @class = "form-control", @id = "Cliente_Direccion", @style = "max-width:700px !important", @placeholder = "Ingrese una direccion" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Cliente.Direccion)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Calle)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Calle, new { @class = "form-control", @id = "route" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Altura)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Altura, new { @class = "form-control", @id = "street_number" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Calle2)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Calle2, new { @class = "form-control", @id = "calle2" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Calle3)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Calle3, new { @class = "form-control", @id = "calle3" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Ciudad)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Ciudad, new { @class = "form-control", @id = "locality" })
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.CodigoPostal)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.CodigoPostal, new { @class = "form-control", @id = "postal_code" })
            </div>

            <div hidden>
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Provincia)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Provincia, new { @class = "form-control", @id = "administrative_area_level_1" })
            </div>
            <div hidden>
                @Html.LabelFor(model => model.OrdenActiva.Cliente.Dir.Pais)
                @Html.TextBoxFor(model => model.OrdenActiva.Cliente.Dir.Pais, new { @class = "form-control", @id = "country" })
            </div>

            <div hidden>
                @Html.HiddenFor(model => model.OrdenActiva.Cliente.Dir.Latitud, new { @id = "Latitud" })
                @Html.HiddenFor(model => model.OrdenActiva.Cliente.Dir.Longitud, new { @id = "Longitud" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.TipoDesc)
                @Html.DropDownListFor(model => model.OrdenActiva.TipoId, (List<SelectListItem>)ViewBag.ListaTipoDispositivo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.TipoId)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.MarcaDesc)
                @Html.DropDownListFor(model => model.OrdenActiva.MarcaId, (List<SelectListItem>)ViewBag.ListaMarcas, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.MarcaId)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.NroSerie)
                @Html.TextBoxFor(model => model.OrdenActiva.NroSerie, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.NroSerie)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(model => model.OrdenActiva.Modelo)
                @Html.TextBoxFor(model => model.OrdenActiva.Modelo, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Modelo)
            </div>
            <div class="col-md-1">
                @Html.LabelFor(model => model.OrdenActiva.Ubicacion)
                @Html.TextBoxFor(model => model.OrdenActiva.Ubicacion, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Ubicacion)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.OrdenActiva.Accesorios)
                @Html.TextAreaFor(model => model.OrdenActiva.Accesorios, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OrdenActiva.Accesorios)
            </div>
        </div>
    </div>

    <div hidden id="datosComercioDiv">

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.OrdenActiva.Comercio.Descripcion)
                    @Html.DropDownListFor(model => model.OrdenActiva.Comercio.ComercioId, (List<SelectListItem>)ViewBag.ListaComercio, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrdenActiva.Comercio.ComercioId)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.OrdenActiva.Comercio.Telefono)
                    @Html.TextBoxFor(model => model.OrdenActiva.Comercio.Telefono, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.OrdenActiva.Comercio.Telefono)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.OrdenActiva.FechaCompra)
                    @Html.TextBoxFor(model => model.OrdenActiva.FechaCompra, new { @class = "form-control form-control-inline input-large date-picker" })
                    @Html.ValidationMessageFor(model => model.OrdenActiva.FechaCompra)
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="form-actions">
        <div class="row">
            <div class="col-md-12 text-center">
                <input id="btnGuardarOrden" class="btn btn-success" type="submit" value="GUARDAR" style="display:none" />
            </div>
        </div>
    </div>
}

<div id="divNovedades">
    @RenderPage("NovedadIndex.cshtml", Model)
</div>

<style>
    form .row {
        padding-top: 10px;
    }
</style>

<script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

<script>

    $(".ac-cliente").autocomplete({
        source: function (request, response) {
            $.ajax({
                url: "/Cliente/Index",
                type: "POST",
                dataType: "json",
                data: { Prefix: request.term },
                success: function (data) {
                    response($.map(data, function (item) {
                        return { label: item.DisplayName, value: item.Dni };
                    }))

                }
            })
        },
        select: function (event, ui) {
            ui.item.value;
            $.ajax({
                url: "/Cliente/Get",
                type: "POST",
                dataType: "json",
                data: { ClienteId: ui.item.value },
                success: function (data) {
                    $("#Cliente_Dni").val(data.Dni);
                    $("#Cliente_Nombre").val(data.Nombre);
                    $("#Cliente_Apellido").val(data.Apellido);
                    $("#Cliente_Mail").val(data.Mail);
                    $("#Cliente_Telefono").val(data.Telefono);
                    $("#Cliente_Celular").val(data.Celular);
                    $("#Cliente_Direccion").val(data.Direccion);
                    $("#route").val(data.Calle);
                    $("#street_number").val(data.Altura);
                    $("#locality").val(data.Provincia);
                    $("#postal_code").val(data.CodigoPostal); calle3
                    //$("#administrative_area_level_1").val(data.CodigoPostal);
                    $("#country").val(data.Pais);
                    $("#calle2").val(data.Calle2);
                    $("#calle3").val(data.Calle3);
                }
            })
        },
    });

    $(function () {
        if ("@Model.OrdenActiva.Garantia" == "True") {
            $("#datosComercioDiv").removeAttr("hidden", true);
        }

        $("#OrdenActiva_Garantia").click(function () {
            if ($("#OrdenActiva_Garantia").prop("checked")) {
                $("#datosComercioDiv").removeAttr("hidden", true);
            } else {
                $("#datosComercioDiv").attr("hidden", true);
            }
        })

          $.ajax({
              url: "@Url.Action("AutoCompleteAddress", "GoogleMaps")/Cliente_Direccion",
              success: function (data) {
                  $("#OrdenResumen").append(data);
                }
        });
    })
</script>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
