@model FastService.Models.VentaModel

<script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />

@using (Ajax.BeginForm("Create", "Venta", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess(data)", OnFailure = "OnError" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="portlet-body form">
        <form action="#" class="form-horizontal">
            <div class="form-body">
                @*<h3 class="form-section">Venta</h3>*@
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Origen, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(Model => Model.Origen, (List<SelectListItem>)ViewBag.PuntoDeVentaList, new { @class = "form-control" })
                                <span class="help-block"> Comercio donde se genera la venta </span>
                                @Html.ValidationMessageFor(model => model.Origen)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Monto)
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                                <span class="help-block"> Breve descripcion de la venta </span>
                                @Html.ValidationMessageFor(model => model.Descripcion)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Fecha, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Fecha, new { @class = "form-control form-control-inline input-large date-picker", @text = DateTime.Now, @placeholder = "Seleccione una fecha" })

                            </div>
                            @*<input type="text" class="form-control" placeholder="@DateTime.Now">*@
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group ">
                                @Html.LabelFor(model => model.MetodoDePago, new { @class = "control-label col-md-6" })
                           
                            <div class="col-md-6">
                                @Html.DropDownListFor(Model => Model.MetodoDePagoId, (List<SelectListItem>)ViewBag.MetodoDePagoList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.MetodoDePagoId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.NroFactura, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(Model => Model.NroFactura, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NroFactura)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.TipoDeFactura, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(Model => Model.TipoDeFacturaId, (List<SelectListItem>)ViewBag.ListaTipoFactura, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TipoDeFacturaId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Facturado, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.CheckBoxFor(model => model.Facturado, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Facturado)
                            </div>
                        </div>
                    </div>
                </div>


                <h4 class="form-section">Producto</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Producto.Nombre, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Producto.Nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Producto.Nombre)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.Producto.Descripcion, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(model => model.Producto.Descripcion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Producto.Descripcion)
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(Model => Model.Producto.Precio, new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(model => model.Producto.Precio, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Producto.Precio)
                            </div>
                        </div>
                    </div>
                </div>
                




                <h4 class="form-section">Cliente</h4>
                <!--/row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.HiddenFor(model => model.Cliente.ClienteId, new { @class = "Cliente_Id", @id = "Cliente_Id" })
                            @Html.LabelFor(model => model.Cliente.Dni)
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Cliente.Dni, new { @class = "form-control ac-cliente Cliente_Dni", @id = "Cliente_Dni", @autocomplete = "off" })
                                <span class="input-group-btn">
                                    <button class="btn btn-success buscarClienteBtn" type="button" title="Buscar cliente..."><i class="fa fa-search"></i></button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-info historialClienteBtn" type="button" title="Ver historial del cliente..."><i class="fa fa-list"></i></button>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Cliente.Dni)
                        </div>
                        @*<div class="col-md-1">
                    @Html.Label("Sin DNI?")
                    @Html.CheckBox("No tiene", new { @class = "form-control ticketCheckBox chkNoTieneDni", @id = "chkNoTieneDni" })
                </div>*@
                        <div class="col-md-3 ui-front">
                            @Html.LabelFor(model => model.Cliente.Nombre)
                            @Html.TextBoxFor(model => model.Cliente.Nombre, new { @class = "form-control ac-cliente Cliente_Nombre", @id = "Cliente_Nombre", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Cliente.Nombre)
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Cliente.Apellido)
                            @Html.TextBoxFor(model => model.Cliente.Apellido, new { @class = "form-control ac-cliente Cliente_Apellido", @id = "Cliente_Apellido", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Cliente.Apellido)
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Cliente.Mail)
                            <div class="input-group">
                                @Html.TextBoxFor(model => model.Cliente.Mail, new { @class = "form-control Cliente_Mail", @id = "Cliente_Mail", @autocomplete = "off" })
                                <span class="input-group-btn">
                                    <button class="btn btn-danger chkNoTieneMail" type="button" title="Omitir email"><i class="fa fa-ban"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Cliente.Telefono)
                            @Html.TextBoxFor(model => model.Cliente.Telefono, new { @class = "form-control Cliente_Telefono", @id = "Cliente_Telefono", @autocomplete = "off" })
                        </div>
                        <div class="col-md-3">
                            @Html.LabelFor(model => model.Cliente.Celular)
                            @Html.TextBoxFor(model => model.Cliente.Celular, new { @class = "form-control Cliente_Celular", @id = "Cliente_Celular", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Cliente.Celular)
                        </div>
                        <div class="col-md-6 ui-front">
                            @Html.LabelFor(model => model.Cliente.Direccion)
                            @Html.TextBoxFor(model => model.Cliente.Direccion, new { @class = "form-control Cliente_Direccion", @id = "Cliente_Direccion", @style = "max-width:700px !important", @placeholder = "Ingrese una direccion", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Cliente.Direccion)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.Calle)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Calle, new { @class = "form-control route", @id = "route", @autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.Altura)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Altura, new { @class = "form-control street_number", @id = "street_number", @autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.Calle2)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Calle2, new { @class = "form-control calle2", @id = "calle2", @autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.Calle3)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Calle3, new { @class = "form-control calle3", @id = "calle3", @autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.Ciudad)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Ciudad, new { @class = "form-control locality", @id = "locality", @autocomplete = "off" })
                        </div>
                        <div class="col-md-2">
                            @Html.LabelFor(model => model.Cliente.Dir.CodigoPostal)
                            @Html.TextBoxFor(model => model.Cliente.Dir.CodigoPostal, new { @class = "form-control postal_code", @id = "postal_code", @autocomplete = "off" })
                        </div>

                        <div hidden>
                            @Html.LabelFor(model => model.Cliente.Dir.Provincia)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Provincia, new { @class = "form-control administrative_area_level_1", @id = "administrative_area_level_1", @autocomplete = "off" })
                        </div>
                        <div hidden>
                            @Html.LabelFor(model => model.Cliente.Dir.Pais)
                            @Html.TextBoxFor(model => model.Cliente.Dir.Pais, new { @class = "form-control country", @id = "country", @autocomplete = "off" })
                        </div>

                        <div hidden>
                            @Html.HiddenFor(model => model.Cliente.Dir.Latitud, new { @id = "Latitud" })
                            @Html.HiddenFor(model => model.Cliente.Dir.Longitud, new { @id = "Longitud" })
                        </div>
                    </div>

                </div>

                <br />

                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <input id="btnNuevaVenta" class="btn btn-info btn-md" type="submit" value="ACEPTAR" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script type="text/javascript">
        $(".chkNoTieneMail").click(function () {
            $(".Cliente_Mail").val("noaplica@noaplica.com");
        });

        $(".buscarClienteBtn").click(function () {
             ajaxGetNoCustomError(
                    "@Url.Action("Buscar","Cliente")",
                    function (data) {
                        $("#BuscarClienteContent").html(data);
                        $("#modalBuscarCliente").modal();
                    }
                );
        })

        $(".historialClienteBtn").click(function () {
             ajaxGetNoCustomError(
                    "@Url.Action("Historia","Cliente")",
                    function (data) {
                        $("#HistoriaClienteContent").html(data);
                        $("#modalHistoriaCliente").modal();
                    }
                );
        })

        $.ajax({
            url: "@Url.Action("AutoCompleteAddress", "GoogleMaps")/Cliente_Direccion",
            success: function (data) {
                $(".page-content").append(data); //This is where to append the component required for maps autocomplete
            }
        });

    function OnSuccess(data) {
        $("#modalSuccess").modal();
        //$(".modal-backdrop").hide();
        $(".page-content").html(data);
    }

    //function OnError() {
    //    $("#modalError").modal();
    //    //$(".modal-backdrop").hide();
    //}

</script>