@model FastService.Models.MetodosDePago.PagoConEfectivoViewModel
<script src="~/Content/assets/pages/scripts/components-date-time-pickers.min.js"></script>
<script src="~/Content/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<link href="~/Content/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<hr>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => Model.Monto, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.TextBoxFor(model => Model.Monto, new { @class = "form-control" , @value = Model.Monto, @id="monto" })
                    @Html.ValidationMessageFor(model => Model.Monto)
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => Model.Fecha, new { @class = "control-label col-md-3" })
                <div class="col-md-6">
                    <input id="Fecha" class="form-control form-control-inline input-large date-picker" size="16" type="text" value="@DateTime.Now" placeholder="Seleccione fecha">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">
                @Html.LabelFor(model => model.Facturado, new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.CheckBoxFor(model => model.Facturado, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Facturado)
                </div>
            </div>
        </div>
    </div>

<script>
    $("#monto").val()

</script>