@model FastService.Models.CompraModel

@using (Ajax.BeginForm("Create", "Compra", new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnError" }))
{
    @Html.AntiForgeryToken()
    <h3 class="Nueva Compra">Nueva venta</h3>
    <hr />
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group ">
            @Html.LabelFor(model => model.Origen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(Model => Model.Origen, (List<SelectListItem>)ViewBag.PuntoDeVentaList)
                @Html.ValidationMessageFor(model => model.Origen)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Monto, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Monto)
                @Html.ValidationMessageFor(model => model.Monto)
            </div>
        </div>
        <fieldset name="Datos Cliente">
            <div class="form-group">
                @Html.LabelFor(Model => Model.ProveedorId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProveedorId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ProveedorId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.ProveedorNombre, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ProveedorNombre)
                    @Html.ValidationMessageFor(model => model.ProveedorNombre)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Mail, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mail)
                    @Html.ValidationMessageFor(model => model.Mail)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Telefono, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefono)
                    @Html.ValidationMessageFor(model => model.Telefono)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Celular, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Celular)
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Direccion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion)
                    @Html.ValidationMessageFor(model => model.Direccion)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.FacturaId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FacturaId)
                    @Html.ValidationMessageFor(model => model.FacturaId)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(Model => Model.Descripcion, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Descripcion)
                    @Html.ValidationMessageFor(model => model.Descripcion)
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="btnNuevaCompra" class="btn btn-info btn-md" type="submit" value="Compra SIN Factura" />
        </div>
    </div>

}
<script type="text/javascript">

    $(document).ready(function () {
        $("#ProveedorId").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/Proveedor/Index",
                    type: "POST",
                    dataType: "json",
                    data: { Prefix: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.DisplayName, value: item.Id };
                        }))

                    }
                })
            },
            select: function (event, ui) {
                ui.item.value;
                $.ajax({
                    url: "/Proveedor/Get",
                    type: "POST",
                    dataType: "json",
                    data: { ClienteId: ui.item.value },
                    success: function (data) {
                        console.info(data);
                        $("#ProveedorNombre").val(data.Nombre);
                        $("#Mail").val(data.Mail);
                        $("#Telefono").val(data.Telefono);
                        $("#Celular").val(data.Celular);
                        $("#Direccion").val(data.Direccion);
                    }
                })
            },
        });

        $("#btnNuevaCompra").click(function () {
            if ($("#FacturaId").val() == "") {
                alert("Estas creando una compra sin factura, quieres avanzar?");
            }
        });

        $("#FacturaId").on('input', function () {
            if ($("#FacturaId").val() == "") {
                $("#btnNuevaCompra").val("Compra SIN Factura");
                $("#btnNuevaCompra").removeClass("btn-success");
                $("#btnNuevaCompra").addClass("btn-info");
            } else {
                $("#btnNuevaCompra").val("Compra CON Factura");
                $("#btnNuevaCompra").removeClass("btn-info");
                $("#btnNuevaCompra").addClass("btn-success");
            }
        });
    })

</script>  